passwordsquestionmark.txt
whisper_real_time/
desktop-app-try-2/
build-desktop-app-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/
build-desktop-app-try-2-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/
build-desktop-app-Desktop_x86_windows_msvc2019_pe_64bit-Debug